body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
}

.header {
  display: flex;
  flex: 1;
  justify-content: center;
  padding-bottom: 5%;
}

.main-content {
  display: flex;
  flex: 10;
  justify-content: center;
  align-items: flex-start;
}

.main-grid {
  display: grid;
  width: 500px;
  height: 500px;
}

.grid-item {
  user-select: none;
  margin: -0.5px;
  border: 1px solid black;
}

.tool-bar {
  display: flex;
  flex-direction: column;
  padding: 0 1em 0 1em;
}

.tool-bar button {
  margin-bottom: 1em;
}

button {
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.color-picker-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styling color picker */
.color-picker {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 5em;
  height: 5em;
  margin-bottom: 5px;
}

.color-picker::-webkit-color-swatch {
  border: none;
  border-radius: 1.5em;
}
